<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p><a href="/main/">Main Menu</a></p>
        <h1>Plan Your Strategy</h1>
        <div class="play_top">
            <form action="" method="POST">
                <h3>State</h3>
                <select>
                    <option value="alabama">Alabama</option>
                    <option value="arizona">Arizona</option>
                    <option value="arkansis">Arkansis</option>
                    <option value="californis">California</option>
                </select>
                <h3>Difficulty</h3>
                <select>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="difficult">Difficult</option>
                </select>
                <input type="submit" value="Begin">
            </form>
        </div>
        <div class="play_bottom">
            <h1>...or let Fate decide</h1>
            <form action="" method="POST">
                <input type="submit" value="Randomize">
            </form>
        </div>
    </div>
</body>
</html>