<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/GUI.css' %}">
    <script src="{% static 'game/scripts/jquery.js' %}"></script>
    <script src="{% static 'game/scripts/map.js' %}"></script>

  </head>
  <body>

    <div class="header">
       <div class="text">
         Master State
       </div>
      <a class="restart-button" href="/restart">Restart</a>
    </div>

    <div class="container">
      <div class="map">
        {{ map|safe }}
        <img src="{% static 'game/img/map.png' %}" alt="">
      </div>
      <div class="info_panel">
        <h3>Information</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis quos eaque pariatur iure cumque, itaque iste eos eligendi quod, nisi rem beatae amet incidunt consequuntur ipsa eveniet. Illum deserunt numquam debitis! Aliquid quasi recusandae, aut quo maiores dignissimos libero!</p>
      </div>
    </div>

  </body>
</html>
