<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>State</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/css/state.css' %}">

    <style media="screen">

      {% for building in state.buildings.all %}

      .building_{{ building.id }} {
        left: {{ building.location.x }}px !important;
        top: {{ building.location.y }}px !important;
      }

      {% endfor %}

    </style>
  </head>
  <body>

    <div class="header">
      <a class="map_button" href="/">Map</a>
      <div class="state_name">{{ state.name }}</div>
      <div class="stats">
        <ul>
          <li>
            Traffic: {{ traffic }}%
          </li>
          <li>
            Crime: {{ crime }}%
          </li>
          <li>
            Education: {{ education }}%
          </li>
          <li>
            Population: {{ state.stats.population }}k
          </li>
        </ul>
      </div>
      <div class="money">
        <ul>
          <li>
            Treasury: {{ state.stats.money|floatformat:1 }}m
          </li>
          <li>
            Revenue: {{ revenue|floatformat:1 }}m
          </li>
          <li>
            GDP: {{ GDP|floatformat:1 }}m
          </li>
        </ul>
      </div>
    </div>

    <div class="container">

      <div class="state">
        <img src="{% static 'game/img/states/'|add:state.name|add:'.png' %}" alt="">
        <div class="buildings">
          {{ rendition|safe }}
        </div>
      </div>

      <div class="control_panel">
        <ul class="menu_home">
          <li>
            <a class="upgrades_menu_button" href="#">Upgrades</a>
          </li>
          <li>
            <a href="#">Research</a>
          </li>
          <li>
            <a href="#">Maintenance</a>
          </li>
          <li>
            <a href="#">Strategy</a>
          </li>
        </ul>
        <ul class="menu_upgrades hidden">
          <li>
            <a class="traffic_upgrades_button" href="#">Traffic</a>
          </li>
          <li>
            <a class="police_upgrades_button" href="#">Police</a>
          </li>
          <li>
            <a class="education_upgrades_button" href="#">Education</a>
          </li>
          <li>
            <a class="main_button" href="#">Main</a>
          </li>
        </ul>
        <ul class="menu_upgrades_traffic hidden">
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/build/road">Build Road (10m)</a>
          </li>
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/improve/road">Improve Roads (20m)</a>
          </li>
          <li>
            <a class="main_button" href="#">Main</a>
          </li>
        </ul>
        <ul class="menu_upgrades_police hidden">
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/build/police">Build Station (10m)</a>
          </li>
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/improve/police">Improve Training (20m)</a>
          </li>
          <li>
            <a class="main_button" href="#">Main</a>
          </li>
        </ul>
        <ul class="menu_upgrades_education hidden">
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/build/school">Build School (10m)</a>
          </li>
          <li>
            <a class="upgrade_button" href="/modify/states/{{ state.id }}/improve/school">Improve Curriculum (20m)</a>
          </li>
          <li>
            <a class="main_button" href="#">Main</a>
          </li>
        </ul>
      </div>

      <div class="info_panel">
        <h1>Selected Item</h1>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati provident culpa quis doloribus, a sapiente dicta alias cupiditate repudiandae! Eveniet labore ut aliquam nemo. A amet itaque ratione, facere nihil modi rerum libero vel asperiores, distinctio at tempora laborum culpa.
        </div>
      </div>

      <div class="activity_panel">
        <div class="content">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, illo.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, illo.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, illo.</li>
          </ul>
        </div>
      </div>

      <div class="game_control">
        <a class="turn-button" href="/turn">Next Turn</a>
      </div>


      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'game/scripts/state.js' %}"></script>

    </div>
  </body>
</html>
