<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>state purchase</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        .container-fluid{ padding: 2%; }
        button{ width: 20%; }
        ul { list-style-type: none; }
    </style>
</head>
<body>
    <h1> login</h1>
    <!-- I DON'T LIKE THE LOCATION OF THESE ERROR MESSAGES -->
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class = "container-fluid">
        <form action='/login' method='POST'>
            {% csrf_token %}
            <h4 class="mb-3" id='add'>login :  <h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="email">email</label>
                    <input type="text" class="form-control" name="email" placeholder="" value="">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="password">password</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="">
                    <a href="forgot_password">forgot password?</a>
                </div>
                <button class="btn btn-secondary btn-md" type="submit">login</button>
            </div>
        </form>

        <h2>start purchasing now</h2>
        <form action="/register" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary btn-lg" type="submit">sign up</button>
        </form>
    </div>
