<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="72173018244-o777cq75cd8ptoiegniuichb24hgnjsn.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>state purchase</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <style>
        .container-fluid{ padding: 2%; }
        button{ width: 50%; }
        ul { list-style-type: none; }
        
    </style>
</head>
<body>
    <h1> welcome</h1>
    <h2><a href="/state_purchase">go back</a></h2>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    <div class = "container-fluid">
            <form action='/create' method='POST'>
                {% csrf_token %}
                <h4 class="mb-3" id='add'>registration <h4>
                <div class="col">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">user name</label>
                        <input type="text" class="form-control" name="name" placeholder="" value="{{ first_name | safe }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">user alias</label>
                        <input type="text" class="form-control" name="alias" placeholder="" value="{{ alias | safe }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email">email</label>
                        <input type="text" class="form-control" name="email" placeholder="" value="{{ email | safe}}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">password</label>
                        <input id="password" type="password" class="form-control" name="password" placeholder="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirm_password">confirm password</label>
                        <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="">
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg" type="submit">register</button>
                
                    <div style ="margin-left:  70%; margin-top: -40%">
                        <h2>fuck this button</h2>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    </div>

                </div>
            </form>
            
            
    </div>
</body>
</html>